
# Storybook
.cache

# Dependency directory
node_modules
npm-debug.log
.idea
.DS_Store
.vscode

# Build artifacts
build

# Applify local temp and setup files
.applify
applify.config.js
applify.config.babel.js

# Test config
src/private-config.js

# Serverless
.serverless
